.vscode/
node_modules/
package-lock.json
.next/
Commit.bat
.env
https://www.canva.com/design/DAFzhy2OWBA/5DSn-X72WJMIJIoyN3RAJA/edit?utm_content=DAFzhy2OWBA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton
